<?xml version="1.0"?>

<launch>
  <include file="$(find ugv_course_launch)/launch/roundbot_homework3.launch" />
  <node pkg="homework3" type="diff_drive_node" name="diff_driv" output="screen" />
  <node pkg="homework3" type="test_diff" name="test_diff" output="screen" />
  
  
  <!-- Run your node here! -->

</launch>
