<?xml version="1.0"?>

<launch>
  <include file="$(find ugv_course_launch)/launch/audibot_homework3.launch" />
  <node pkg="homework3" type="ackermann_node" name="ackermann_drive" output="screen" />
  <node pkg="homework3" type="test_ackermann" name="test_ackermann" output="screen" />

  <!-- Run your node here! -->

</launch>
