<?xml version="1.0"?>

<launch>
  <include file="$(find ugv_course_launch)/launch/omnibot_homework3.launch" />
  <node pkg="homework3" type="mecanum_drive_node" name="mecanum_drive" output="screen" />
  <node pkg="homework3" type="test_mecanum" name="test_mecanum" output="screen" />

  <!-- Run your node here! -->

</launch>
