<launch>
	<rosparam file="$(find run_prog)/config/gps_checkpoints_straight.yaml" command="load"/>
    <node name="gps_umd" pkg="gps_common" type="utm_odometry_node" output="screen">
        <remap from="odom_relative_utm2" to="vo"/>
        <param name="rot_covariance" value="99999" />
        <param name="frame_id" value="odom" />
    </node>
   <node name="run_prog" pkg="run_prog" type="controller_input" output="screen">
    </node>
</launch>
